body {
  background-color: black;
  margin-bottom: 50px;
}
header {
  background-color: darkslategray;
  padding-top:20px;
  padding-bottom:10px;
  outline: solid white 5px;
}
header p {
  font-size:110%
}
h5 {
  outline: solid white 1px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.moon {

}
.moonbtn {
  margin-top: -15px;
  margin-bottom: 35px;
}
.btn-secondary, .btn-danger {
  outline: solid white 1px;
  margin-left:20px;
  margin-right:20px;
  padding-top: 10px;
  padding-left:20px;
  padding-right: 20px;
}
p {
  font-size: 70%;
}
.cheese {
  margin-top: 50px;
}
.wg, .wg2 {

}
.wg {
  padding-top: 17px;
}
.wg2 {
  padding-top: 20px;
  padding-right: 5px;
}